<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="ApiClient.ClientId" value="9421fc65-0f65-460f-a2c8-c9215210ad87" />
        <add key="ApiClient.ClientSecret" value="A0nV4iX8aP3oG2lO8rG2gM7tH1iU3gY8nQ3hH6qJ4yM8nP0hV4" />
        <add key="ApiClient.RedirectUri" value="https://localhost" />
        <add key="ApiClient.AccessToken" value="FLjcA4ngsxbuJAQZFxRFToj0455O" />
        <add key="ApiClient.RefreshToken" value="8Qme6sxDF3At4TwxeTWqTh67JbwJxDQdZX1U9Ry6Km" />
        <add key="ApiClient.ExpirationDateTime" value="2020-07-30T09:46:43.2336905+05:30" />
    </appSettings>
</configuration>
